.status-box {
    text-align: center;
    width: 99%;
    color: white;
    padding: 0.5rem 5px;
}

.text-center.div {
    text-align: center;
}

#status-holder {
    /* background-color: rgb(225, 173, 1 ); */
    color: white;
    padding: 0.2rem;
    text-align: center;
}

hr.custom-hr {
    border: 1px solid rgb(226, 222, 222);
}

.insp-tab-grid {
    background-color: #f4f6f9;
    padding: 0px 0px;
    margin: 0px;
}

.no-p p {
    padding: 0%;
    margin-bottom: 0px;
}

.inspection-status-and-remarks, .remarks-history, .assessment-billing {
    background-color: white;
}

.upload-resume {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.review_h {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
}

.review_l {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 10px;
}

.review_l h4 {
    margin-right: 10px;
}

.review_l h6 {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.review_l .uploaded {
    font-weight: 400;
}
